    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta content="TO BE COMPLETED" name="description">

    <!-- Twitter Card -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="SLALAM" name="twitter:title">
    <meta content="TO BE COMPLETED" name="twitter:description">
    <meta content="assets/images/photo.jpg" name="twitter:image:src">

    <!-- Facebook OpenGraph -->
    <meta content="SLALAM" property="og:title">
    <meta content="TO BE COMPLETED" property="og:description">
    <meta content="assets/images/photo.jpg" property="og:image">