<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link href="/" rel="canonical">

    {% include meta.html %}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap" rel="stylesheet">

    <!-- Ionicons -->
    <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/app.css" />
  </head>

  <body class="is-in stop-animations">
    <header class="c-header">
      <div class="container">
        <div class="row">
          <div class="c-header__inner">
            <div class="logo">
              <a class="logo__link" href="/">
                SLALAM
              </a>
            </div>
            <nav class="main-nav">
              <div class="main-nav__box">
                <div class="nav__icon-close">
                  <i class="ion ion-md-close"></i>
                </div>
                <div class="nav__title">Menu</div>
                  <ul class="nav__list list-reset">
                    <li class="nav__item">
                      <a class="nav__link active-link" href="/">Accueil</a>
                    </li>
                    <li class="nav__item">
                      <a class="nav__link" href="/#projets">Projets</a>
                    </li>
                    <li class="nav__item">
                      <a class="nav__link" href="/#contact">Contact</a>
                    </li>
                </ul>
              </div>          
              <div class="social">
                <ul class="social__list list-reset">
                  
                  <li class="social__item">
                    <a aria-label="linkedin icon" class="social__link" href="https://fr.linkedin.com/in/salim-lalam" rel="noopener" target="_blank"><i class="ion ion-logo-linkedin"></i></a>
                  </li>
                  
                  <li class="social__item">
                    <a aria-label="github icon" class="social__link" href="https://github.com/lilimsa" rel="noopener" target="_blank"><i class="ion ion-logo-github"></i></a>
                  </li>
                  
                  <li class="social__item">
                    <a aria-label="facebook icon" class="social__link" href="https://facebook.com/lilim49" rel="noopener" target="_blank"><i class="ion ion-logo-facebook"></i></a>
                  </li>
                  
                </ul>
              </div>
            </nav>
            <div class="nav-button">
              <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="c-page">
    {{ content }}
    </div>
    <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col col-12">   
            <div class="social">
              <ul class="social__list list-reset">
                
                <li class="social__item">
                    <a aria-label="linkedin icon" class="social__link" href="https://fr.linkedin.com/in/salim-lalam" rel="noopener" target="_blank"><i class="ion ion-logo-linkedin"></i></a>
                  </li>
                  
                  <li class="social__item">
                    <a aria-label="github icon" class="social__link" href="https://github.com/lilimsa" rel="noopener" target="_blank"><i class="ion ion-logo-github"></i></a>
                  </li>
                  
                  <li class="social__item">
                    <a aria-label="facebook icon" class="social__link" href="https://facebook.com/lilim49" rel="noopener" target="_blank"><i class="ion ion-logo-facebook"></i></a>
                  </li>
                
              </ul>
            </div>
            <ul class="footer_nav list-reset">        
              <li class="footer_nav__item">
                <a class="footer_nav__link" href="/">Accueil</a>
              </li>       
              <li class="footer_nav__item">
                <a class="footer_nav__link" href="/#projets">Projets</a>
              </li>    
              <li class="footer_nav__item">
                <a class="footer_nav__link" href="/#contact">Contact</a>
              </li> 
            </ul>
            <div class="copyright"><p> 2022 © <a href="/">SLALAM</a>. Réalisé avec amour et passion par <a href="https://marsweb.fr/" target="_blank">MARSWEB</a>.</p></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ site.baseurl }}/assets/scripts/scripts.js"></script>
    <script src="{{ site.baseurl }}/assets/scripts/common.js"></script>
  </body>
</html>
